## <span style = 'color: red'> Importing Necessary Libraries </span>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
%matplotlib inline

### <span style = 'color: red'> Warnings </span>

In [2]:
import warnings
warnings.filterwarnings('ignore')

### <span style = 'color: red'> Reading Data from CSV file </span>

In [3]:
sales = pd.read_csv("superstore.csv")
sales

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

### <span style = 'color: red'> Checking shape </span>

In [4]:
sales.shape

(9800, 18)

### <span style = 'color: red'> Checking first 5 rows </span>

In [5]:
sales.head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680

### <span style = 'color: red'> Summary Check </span>

In [6]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9800 non-null   int64
 1   Order_ID       9800 non-null   object
 2   Order_Date     9800 non-null   object
 3   Ship_Date      9800 non-null   object
 4   Ship_Mode      9800 non-null   object
 5   Customer_ID    9800 non-null   object
 6   Customer_Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal_Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product_ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub_Category   9800 non-null   object
 16  Product_Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

### <span style = 'color: red'> Columns: Order_Date and Ship_Date requires necessary "datatype" change.</span>

In [7]:
sales['Order_Date'] = pd.to_datetime(sales['Order_Date'], format = "%d/%m/%Y")
sales['Ship_Date'] = pd.to_datetime(sales['Ship_Date'], format = "%d/%m/%Y")

### <span style = 'color: blue'> A quick summary check to ensure data type change is successful </span>

In [8]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9800 non-null   int64
 1   Order_ID       9800 non-null   object
 2   Order_Date     9800 non-null   datetime64[ns]
 3   Ship_Date      9800 non-null   datetime64[ns]
 4   Ship_Mode      9800 non-null   object
 5   Customer_ID    9800 non-null   object
 6   Customer_Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal_Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product_ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub_Category   9800 non-null   object
 16  Product_Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(13)
memory usage: 1.3+ MB

### <span style = 'color: red'> Checking Null Values </span>

In [9]:
sales.isnull().sum()

Row_ID            0
Order_ID          0
Order_Date        0
Ship_Date         0
Ship_Mode         0
Customer_ID       0
Customer_Name     0
Segment           0
Country           0
City              0
State             0
Postal_Code      11
Region            0
Product_ID        0
Category          0
Sub_Category      0
Product_Name      0
Sales             0
dtype: int64

### <span style = 'color: red'> Percentage calculation of Null value </span>

In [10]:
sales.isnull().sum()/ len(sales) * 100

Row_ID           0.000000
Order_ID         0.000000
Order_Date       0.000000
Ship_Date        0.000000
Ship_Mode        0.000000
Customer_ID      0.000000
Customer_Name    0.000000
Segment          0.000000
Country          0.000000
City             0.000000
State            0.000000
Postal_Code      0.112245
Region           0.000000
Product_ID       0.000000
Category         0.000000
Sub_Category     0.000000
Product_Name     0.000000
Sales            0.000000
dtype: float64

### <span style = 'color: red'> Since null values (Postal Code) are less in number, we chose to drop those rows.</span>

In [11]:
sales.dropna(subset = ['Postal_Code'], inplace = True)

### <span style = 'color: blue'> A quick Percentage calculation of Null value to ensure drop is successful </span>

In [12]:
sales.isnull().sum()/ len(sales) * 100

Row_ID           0.0
Order_ID         0.0
Order_Date       0.0
Ship_Date        0.0
Ship_Mode        0.0
Customer_ID      0.0
Customer_Name    0.0
Segment          0.0
Country          0.0
City             0.0
State            0.0
Postal_Code      0.0
Region           0.0
Product_ID       0.0
Category         0.0
Sub_Category     0.0
Product_Name     0.0
Sales            0.0
dtype: float64

### <span style = 'color: red'> Checking if there are any duplicated values </span>

In [13]:
duplicate = sales[sales.iloc[:,1:].duplicated(keep=False)]
duplicate

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
3405,3406,US-2015-150119,2015-04-23,2015-04-27,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229.0,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372
3406,3407,US-2015-150119,2015-04-23,2015-04-27,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229.0,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372

### <span style = 'color: red'> Dropping the Duplicate records </span>

In [14]:
sales = sales.iloc[:,1:].drop_duplicates()

### <span style = 'color: red'> Shape Check </span>

In [15]:
sales.shape

(9788, 17)

### <span style = 'color: red'> Data Type check </span>

In [16]:
sales.dtypes

Order_ID                 object
Order_Date       datetime64[ns]
Ship_Date        datetime64[ns]
Ship_Mode                object
Customer_ID              object
Customer_Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal_Code             float64
Region                   object
Product_ID               object
Category                 object
Sub_Category             object
Product_Name             object
Sales                   float64
dtype: object

### <span style = 'color: red'> Postal Code cannot be floating. We should have changed it earlier </span>

In [17]:
sales['Postal_Code'] = sales['Postal_Code'].astype('int64')

In [18]:
sales.dtypes

Order_ID                 object
Order_Date       datetime64[ns]
Ship_Date        datetime64[ns]
Ship_Mode                object
Customer_ID              object
Customer_Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal_Code               int64
Region                   object
Product_ID               object
Category                 object
Sub_Category             object
Product_Name             object
Sales                   float64
dtype: object

### <span style = 'color: red'> Checking Value counts for each column </span>

In [19]:
sales.columns

Index(['Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode', 'Customer_ID',
       'Customer_Name', 'Segment', 'Country', 'City', 'State', 'Postal_Code',
       'Region', 'Product_ID', 'Category', 'Sub_Category', 'Product_Name',
       'Sales'],
      dtype='object')

In [20]:
sales['Order_ID'].value_counts()

Order_ID
CA-2018-100111    14
CA-2018-157987    12
CA-2017-165330    11
US-2017-108504    11
US-2016-126977    10
                  ..
US-2015-161613     1
CA-2018-101728     1
CA-2017-112942     1
CA-2018-126438     1
CA-2017-147123     1
Name: count, Length: 4916, dtype: int64

### <span style = 'color: red'> Checking value count for each column will be a lengthy process. Let us Apply loop </span>

In [22]:
columns = sales.columns
for col in columns:
    print (col)
    print('')
    print(sales[col].value_counts())
    print('')

Order_ID

Order_ID
CA-2018-100111    14
CA-2018-157987    12
CA-2017-165330    11
US-2017-108504    11
US-2016-126977    10
                  ..
US-2015-161613     1
CA-2018-101728     1
CA-2017-112942     1
CA-2018-126438     1
CA-2017-147123     1
Name: count, Length: 4916, dtype: int64

Order_Date

Order_Date
2017-09-05    38
2017-11-10    35
2018-12-02    34
2018-12-01    34
2018-12-09    33
              ..
2017-02-25     1
2017-10-25     1
2015-09-11     1
2015-09-16     1
2016-05-09     1
Name: count, Length: 1229, dtype: int64

Ship_Date

Ship_Date
2018-09-26    34
2018-12-06    32
2016-12-16    31
2018-09-06    30
2018-12-12    30
              ..
2016-07-30     1
2017-01-26     1
2015-01-17     1
2018-08-17     1
2016-05-13     1
Name: count, Length: 1326, dtype: int64

Ship_Mode

Ship_Mode
Standard Class    5848
Second Class      1901
First Class       1501
Same Day           538
Name: count, dtype: int64

Customer_ID

Customer_ID
WB-21850    35
PP-18955    34
MA-17560    34
JL-15835    33
JD-15895    32
            ..
AO-10810     1
JR-15700     1
CJ-11875     1
SC-20845     1
RE-19405     1
Name: count, Length: 793, dtype: int64

Customer_Name

Customer_Name
William Brown       35
Paul Prost          34
Matt Abelman        34
John Lee            33
Jonathan Doherty    32
                    ..
Anthony O Donnel     1
Jocasta Rupert       1
Carl Jackson         1
Sung Chung           1
Ricardo Emerson      1
Name: count, Length: 793, dtype: int64

Segment

Segment
Consumer       5096
Corporate      2948
Home Office    1744
Name: count, dtype: int64

Country

Country
United States    9788
Name: count, dtype: int64

City

City
New York City    891
Los Angeles      728
Philadelphia     532
San Francisco    500
Seattle          426
                ...
San Mateo          1
Cheyenne           1
Conway             1
Melbourne          1
Springdale         1
Name: count, Length: 529, dtype: int64

State

State
California              1946
New York                1097
Texas                    973
Pennsylvania             582
Washington               504
Illinois                 483
Ohio                     453
Florida                  373
Michigan                 253
North Carolina           247
Virginia                 224
Arizona                  223
Tennessee                183
Colorado                 179
Georgia                  177
Kentucky                 137
Indiana                  135
Massachusetts            135
Oregon                   122
New Jersey               122
Maryland                 105
Wisconsin                105
Delaware                  93
Minnesota                 89
Connecticut               82
Missouri                  66
Oklahoma                  66
Alabama                   61
Arkansas                  60
Rhode Island              55
Mississippi               53
Utah                      53
South Carolina            42
Louisiana                 41
Nevada                    39
Nebraska                  38
New Mexico                37
New Hampshire             27
Iowa                      26
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: count, dtype: int64

Postal_Code

Postal_Code
10035    253
10024    225
10009    220
94122    195
10011    193
        ...
32935      1
76248      1
32127      1
32503      1
72762      1
Name: count, Length: 626, dtype: int64

Region

Region
West       3140
East       2773
Central    2277
South      1598
Name: count, dtype: int64

Product_ID

Product_ID
OFF-PA-10001970    18
TEC-AC-10003832    18
FUR-FU-10004270    16
TEC-AC-10002049    15
TEC-AC-10003628    15
                   ..
OFF-ST-10001034     1
TEC-PH-10001468     1
OFF-AR-10004974     1
TEC-AC-10003133     1
TEC-PH-10002645     1
Name: count, Length: 1860, dtype: int64

Category

Category
Office Supplies    5903
Furniture          2075
Technology         1810
Name: count, dtype: int64

Sub_Category

Sub_Category
Binders        1492
Paper          1336
Furnishings     931
Phones          875
Storage         831
Art             784
Accessories     754
Chairs          605
Appliances      458
Labels          357
Tables          314
Envelopes       247
Bookcases       225
Fasteners       214
Supplies        184
Machines        115
Copiers          66
Name: count, dtype: int64

Product_Name

Product_Name
Staple envelope                                                      47
Staples                                                              46
Easy-staple paper                                                    44
Avery Non-Stick Binders                                              20
Staples in misc. colors                                              18
                                                                     ..
Acco Glide Clips                                                      1
Wasp CCD Handheld Bar Code Reader                                     1
Computer Printout Paper with Letter-Trim Fine Perforations            1
Universal Ultra Bright White Copier/Laser Paper, 8 1/2 x 11, Ream     1
LG G2                                                                 1
Name: count, Length: 1848, dtype: int64

Sales

Sales
12.960      55
19.440      39
15.552      39
10.368      35
25.920      34
            ..
2504.740     1
27.264       1
56.650       1
58.720       1
10.384       1
Name: count, Length: 5750, dtype: int64

### <span style = 'color: red'> Data looks clean. Last check between Ship Date and Order Date </span>

In [23]:
sales[sales['Ship_Date'] < sales['Order_Date']]

Empty DataFrame
Columns: [Order_ID, Order_Date, Ship_Date, Ship_Mode, Customer_ID, Customer_Name, Segment, Country, City, State, Postal_Code, Region, Product_ID, Category, Sub_Category, Product_Name, Sales]
Index: []

### <span style = 'color: red'> There are no records where Ship date is/are before Order date </span>
### <span style = 'color: red'> Data is clean and ready for </span>
- Exporting for Analysis through Power BI

In [24]:
sales_clean = sales.copy()

In [25]:
sales_clean.head()

,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680

In [26]:
sales_clean.reset_index(drop = True,inplace = True)

### <span style = 'color: red'> Exporting as CSV </span>

In [27]:
sales_clean.to_csv('superstore_sales_cleaned_data.csv', index = False)